:root {
    --primary-color:#09153e;
    --secondry-color:#152350;
    --third-color:#212e59;
    --default-color:#28e23b;
    --danger-color:#e2182b;
    --light-color:#888;
    --white-color:#ffffff; 
    --dark-color:#000000;
    
  }
  